<div class="row p-4">
    <h2>Virtual Scroll</h2>

</div>

<div class="row mb-4">
    <div class="col">
        <button class="btn btn-primary" (click)="goStart()">
            Go to start
        </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-secondary" (click)="goEnd()">
            Go to end
        </button>
    </div>
</div>


<!-- We need to put the height of each item -->
<cdk-virtual-scroll-viewport itemSize="50" style="height:50vh;" class="shadow list-group ">

    <div class="list-group-item" *cdkVirtualFor="let person of persons; let i = index; let counter = count;">
        Item {{i+1}} /{{counter}}
    </div>

</cdk-virtual-scroll-viewport>