<div class="container mt-4 mb-4">
    <h1>Virtual Scroll and Drag & Drop</h1>
    <h4>
        An app to test the new angular features Virtual Scrolling and Drag & Drop
        <!-- <a href="https://valor-software.com/ng2-charts">ng2-charts</a> based on the javascrip library <a href="https://www.chartjs.org">Chart.js.</a> Source code <a href="https://github.com/reymon359/angular-charts">here.</a> -->
    </h4>
    <!-- <p class="text-muted">ypen the console and hover the data points</p> -->
    <hr>
    <div class="row">
        <div class="col">
            <app-virtual></app-virtual>
        </div>
    </div>


</div>
<footer class="footer mt-auto py-3  bg-light" style=" margin-top: 20vh!important;">
    <div class="container">
        <a style="text-decoration: none;" href="https://ramonmorcillo.com" target="_blank">ramon morcillo @reymon359 </a> | &copy;<time datetime="2019">Year 2019</time> |
        <a href="#top" style="text-decoration: none;">Back top</a>
    </div>
</footer>
<!-- <router-outlet></router-outlet> -->