<div class="container mt-4 mb-4">
    <h1>Virtual Scroll and Drag & Drop</h1>
    <h4>
        An app to test the new angular features <a href="https://material.angular.io/cdk/scrolling/overview" target="_blank">Virtual Scrolling</a> and <a href="https://material.angular.io/cdk/drag-drop/overview" target="_blank">Drag & Drop</a>.
    </h4>
    <!-- <p class="text-muted">ypen the console and hover the data points</p> -->
    <hr>
    <div class="row">
        <div class="col-md-6">
            <app-countries></app-countries>
        </div>
        <div class="col-md-6">
            <app-virtual></app-virtual>
            <app-drag></app-drag>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <app-virtual></app-virtual>
        </div>
    </div> -->
    <div class="row">
        <div class="col">

        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <app-countries></app-countries>
        </div>
    </div> -->




</div>
<footer class="footer mt-auto py-3  bg-light" style=" margin-top: 10vh!important;">
    <div class="container">
        <a style="text-decoration: none;" href="https://ramonmorcillo.com" target="_blank">ramon morcillo @reymon359 </a> | &copy;<time datetime="2019">Year 2019</time> |
        <a href="#top" style="text-decoration: none;">Back top</a>
    </div>
</footer>
<!-- <router-outlet></router-outlet> -->